<h1>Thanks for your interest!</h1>
<p>This application was designed to help you better understand programing language. Please feel free to give feedback and let me know how to improve!</p>

<h2>Here's a link to my personal blog, which has nothing to do with programming!

<a href="#" onClick="window.open('http://www.theanticbough.wordpress.com', '_blank')">Megan's Blog</a></h2>
