<h1>Tech Talent South Flashcards and Vocabulary</h1>
<p>Learn all of the terminology and view easy reference
   cards to build your programming knowledge!</p>
<%= link_to 'Sign In', new_session_path %><br>
<%= link_to 'Create a new Account', new_user_path %>
<br>
<br>

<%=link_to 'Contact Me', contact_path %><br>
<%=link_to 'About this project', about_path %>
