h1 {color: purple; background-color: orange; font-weight: bold; font-family: cursive;}

h2 {color: orange; background-color: purple; font-weight: bold; font-family: cursive}

h3 {color: darkblue; background-color: yellow; font-weight: bold; font-family: cursive}

body {color: darkgreen; background-color: pink; font-family: fantasy;}
